{% extends 'base.html' %}

{% block head_title %}About | {{ block.super }}{% endblock head_title %}

{% block content %}
    <div class="col-sm-6 text-center col-sm-offset-3">
        <div class="thumbnail" style="margin-top: 15px">
            <h3>About myself:</h3>
            <p style="padding: 8px;">
                Hey, my name is Younes PhD Henni. This is an app built using Python/Django 1.11.<br>
                I am currently heavily invested in learning Django and web development.<br>
                I would like to work as a back end web developer and start my own business as well.
            </p>
        </div>
    </div>
{% endblock content %}