{% extends 'base.html' %}

{% block head_title %}Contact | {{ block.super }}{% endblock head_title %}

{% block content %}
    <div class="col-sm-6 text-center col-sm-offset-3">
        <div class="thumbnail" style="margin-top: 15px">
            <h3>Contact me:</h3>
            <ul class="text-left">
                <li>Email: henni1989younes@gmail.com</li>
                <li><a href="https://www.linkedin.com/in/younes-henni-phd-9590017a/">LinkedIn</a></li>

            </ul>
        </div>
    </div>
{% endblock content %}